attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
isodate==0.7.2
logging==0.4.9.6
lxml==6.1.0
packaging==26.0
platformdirs==4.9.6
pytz==2026.2
requests==2.33.1
requests-file==3.0.1
requests-toolbelt==1.0.0
spyne==2.14.0
urllib3==2.6.3
uv==0.11.10
zeep==4.3.2